html {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    width: 60%;
}

header {
    text-align: center;
}

p {
    text-indent: 1.0em;
}

.subtitle {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    text-indent: 0em;
}